<div class="mx-auto shadow-lg rounded-lg">
	<!-- Chatting -->
	<div class="flex flex-row justify-between bg-white">
		<!-- chat list -->
		<div class="flex flex-col w-3/5 border-r-2 overflow-y-auto">
			<!-- user list -->
			<!-- <div *ngFor="let chatUser of chatUsers"
				class="flex flex-row py-4 px-2 justify-center items-center border-b-2">
				<div class="w-1/4">
					<img src="https://source.unsplash.com/_7LbC5J-jw4/600x600"
						class="object-cover h-12 w-12 rounded-full" alt="" />
				</div>
				<div class="w-full">
					<div class="text-lg font-semibold">{{chatUser.name}}</div>
					<span class="text-gray-500">{{chatUser.message}}</span>
				</div>
			</div> -->
			<!-- end user list -->

			<!--  -->
			<ul class="px-2 max-w-3/5 divide-y divide-gray-200 dark:divide-gray-700">
				<li *ngFor="let chatUser of chatUsers" class="py-4">
					<div class="flex justify-between xl:block 2xl:flex align-center 2xl:space-x-4">
						<div class="flex space-x-4 xl:mb-4 2xl:mb-0">
							<div>
								<img class="w-12 h-12 rounded-full"
									src="https://source.unsplash.com/_7LbC5J-jw4/600x600" alt="Bonnie image">
							</div>
							<div class="flex-1 min-w-0">
								<p
									class="text-base font-semibold text-gray-900 leading-none truncate mb-0.5 dark:text-white">
									{{chatUser.name}}
								</p>
								<p class="mb-1 text-sm font-normal truncate text-primary-700 dark:text-primary-500">
									${{chatUser.message}}
								</p>
								<p class="text-xs font-medium text-gray-500 dark:text-gray-400">
									Received on 1 min ago
								</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<!-- end chat list -->
		<!-- message -->
		<div class="w-full px-5 flex flex-col justify-between">
			<div *ngFor="let message of messages" class="flex flex-col mt-5">
				<!-- Current User -->
				<div *ngIf="message.id==currentUser.id" class="flex justify-end mb-4">
					<div class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white">
						{{message.message}}
					</div>
					<img src="https://source.unsplash.com/vpOeXr5wmR4/600x600" class="object-cover h-8 w-8 rounded-full"
						alt="" />
				</div>
				<!-- End Current User  -->
				<!-- Others -->
				<div *ngIf="message.id!=currentUser.id" class="flex justify-start mb-4">
					<img src="https://source.unsplash.com/vpOeXr5wmR4/600x600" class="object-cover h-8 w-8 rounded-full"
						alt="" />
					<div class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white">
						{{message.message}}
					</div>
				</div>
				<!-- End Others -->
			</div>
			<div class="py-5">
				<input class="w-full bg-gray-300 py-5 px-3 rounded-xl" type="text"
					placeholder="type your message here..." />
			</div>
		</div>
	</div>
</div>

